---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Me considero una persona con mucha energía, capaz de transmitir a otros mi
      conocimiento y aportar a las necesidades de una empresa.
      <br />
      <br />
      Las herramientas que más uso:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>Node JS</li>
        <li>Next JS</li>
        <li>React</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Docker</li>
        <li>JAVA</li>
        <li>SpringBoot</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Además de la programación, me gusta mucho practicar deporte, como el
      fútbol y el básquetbol. Leer y escuchar algunos podcast en inglés.
    </p>
  </div>
</Card>
