---
import Card from '../Card.astro'
import { getLangFromUrl, useTranslations } from '@/lib/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-6"
  title={t('aboutMe.title')}
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {t('aboutMe.p1')}
      <br />
      <br />
      {t('aboutMe.tools.title')}
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>Node JS</li>
        <li>Next JS</li>
        <li>React</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Docker</li>
        <li>JAVA</li>
        <li>SpringBoot</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      {t('aboutMe.hobbies')}
    </p>
  </div>
</Card>
