---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
import { getLangFromUrl, useTranslations } from '@/lib/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-muted-foreground">
          {t('intro.welcome')}
        </h6>
        <p class="m-0 text-xl font-light">
          {t('intro.p1')} <b class="font-bold">Kevin Armando Luciano García</b>
          {t('intro.p2')}
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">{t('intro.github.sr')}</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">{t('intro.linkedin.sr')}</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">{t('intro.mail.sr')}</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/me_cv.png"
      class="animate-bounce-subtle pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji de kevin luciano"
      style="animation: bounce-subtle 4s ease-in-out infinite;"
    />
  </div>
</Card>

<style>
  @keyframes bounce-subtle {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .animate-bounce-subtle {
    animation: bounce-subtle 3s ease-in-out infinite;
  }
</style>
